@font-face {
    font-family: "MedievalSharp";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

@font-face {
    font-family: "GothicA1";
    src: url("../fonts/Gothic_A1/GothicA1-Regular.ttf");
}

h2 {
    font-weight: bolder;
    font-size: 32px;
}

h3 {
    font-size: 28px
}

main {
    background-image: url(../img/smoke-bg.jpg);
    background: fixed;
}

body {
    margin: 0;;
    font-family: "MedievalSharp";
    background-image: url(../img/smoke-bg.jpg);
}

p{
    font-family: "GothicA1";
}

/* header */

header {
    max-width: 100%;
}

nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    z-index: 1;
    background-image: url(../img/cloud-header.png);
    background-size: contain;
}

.menu-deroulant {
    display: none;
}

.logo {
    width: 160px;
}

.logo img {
    width: 100%;
}

.header-list ul {
    list-style: none;
    display: flex;
    gap: 3vh;
}

.header-list ul li a {
    text-decoration: none;
    color: burlywood;
}

.header-list ul li:last-child a {
    color: black;
    background-color: burlywood;
    padding: 1vh 2vh;
    border-radius: 5px;
}

/* main */
/* presentation - section 1 */

#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation-video {
    height: 100vh;
    max-width: 100%;
    object-position:center;
}

.presentation-video video {
    /* position: absolute; /
    / z-index: -2; */
    height: 100%;
    width: 100%;
    object-fit:cover;
}

.presentation-text {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: -24vh;
    margin-bottom: -20vh;
}

.presentation-text h1 {
    color: burlywood;
}

.presentation-text a {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.41);
    backdrop-filter: blur(10px);
    padding: 2vh 4vh;
    color: white;
    border: 2px solid burlywood;
    border-radius: 5px;
}

/* races - section 2 */

#races {
    
    background-size: cover;
    background-position: initial;
    padding-top: 20vh;
    padding-bottom: 4vh;
}

.dev-fond {
    width: 100%;
}

.dev-fond img {
    width: 100%;
}

.dev {
    display: flex;
    justify-content: center;
}

.dev-cadre {
    display: flex;
    position: relative;
    background-image: url(../img/awards-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid burlywood;
    border-radius: 10px;
    align-items: center;
    padding: 1vw 2vh;
    gap: 2vw;
}

.dev p {
    color: white;
    margin-bottom: 0;
}

.dev-text h2{
    color: burlywood;
    text-transform: uppercase;
}

.titre h2 {
    color: burlywood;
    text-transform: uppercase;
    margin-left: 10vw;
    margin-top: 16vh;
}

.dev-image {
    width: 20vh;
}

.dev-image img {
    width: 100%;
}

.race-presentation {
    color: burlywood;
    text-transform: uppercase;
    margin: 6vh 16vw;
    display: flex;
    
    gap: 4vh;
}

.race-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid burlywood;
    border-radius: 10px;
    padding: 2vw;
    background-image: url(../img/races-bg.jpg);
    background-size: cover;
    flex: 1;
}

.race-logo-text {
    text-align: center;
    width: 26%;
}

.race-logo-text img {
    width: 50%;
}

.race-description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid burlywood;
    padding: 2vw;
    border-radius: 10px;
    flex: 1;
    position: relative;
}


.race-description h2 {
    display: block;
    width: 48%;
    box-shadow: 0 1px 0 burlywood;
    margin-bottom: 2.5px;
    padding-bottom: 2vh;
}

.decoration-line {
    background-image: url(../svg/decoration-line--before.svg);
    width: 12px;
    height: 10px;
    position: relative;
    right: 25%;
    bottom: 1vh;
}

.race-description h2::after {
    content: "";
    height: 1px;
    width: 40%;
    border-bottom: 2px solid burlywood;
}

.race-description-image {
    width: 10vh;
}

.race-description-image img {
    width: 100%;
}





.race-description p {
    font-family: "GothicA1";
    text-transform: lowercase;

}


.race-description p::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: burlywood;
}

/* editions - section 3 */

#editions {
    background-image: url(../img/buy-now-background.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-items: center;
}

.edition-image {
    flex: 0.8;
    padding-left: 10vh;
}

.edition-image img {
    width: 100%;
}

.edition {
    flex: 1;
}

.edition p {
    color: white;
    font-family: "GothicA1";
}

.edition p:first-of-type{
    margin-bottom: 0;
}

.edition h2 {
    text-transform: uppercase;
    color: burlywood;
    margin-top: 0;
}

.edition ul {
    display: flex;
    gap: 0.5vh;
    list-style: none;
    padding: 2vh 0 4vh 0;
}

.edition ul li a {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(10px);
    border: 2px solid burlywood;
    border-radius: 10px;
    padding: 2vh;
}

/* news section 4 */

#news {
    position: relative;
    margin: 0 auto;
}

/* News & Update */

.titre-news {
    margin: 0 12vh;
}

.titre-news p {
    margin-bottom: 0;
    color: white;
    padding-top: 8vh;
}

.titre-news h2 {
    color: burlywood;
    text-transform: uppercase;
}

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards h3 {
    color: burlywood;
    padding: 2vh 4vh 0 4vh;
    text-transform: uppercase;
}

.cards p {
    color: white;
    padding: 0 4vh;
}

.cards a {
    text-decoration: none;
    margin: 0 0 2vh 4vh;
    text-transform: uppercase;
    color: burlywood;
}

.card-item {
    width: 25%;
    border: 2px solid burlywood;
    border-radius: 10px;
}

.card-primary {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/news-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-secondary {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/news-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.card-thirst {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/news-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Community */

.titre-community {
    text-align: end;
    padding: 5vh 14vh 0 0;
}

.titre-community p {
    color: white;
    margin-bottom: 0;
}

.titre-community h2 {
    color: burlywood;
    margin-top: 1vh;
}

.fanart {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    justify-content: center;
    margin: 0 4vh;

}

.fanart img {
    width: 45vh;
    border-radius: 10px;
    object-fit: cover;
}

/* dowloads - section */

#downloads {
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloads-text {
    display: flex;
    flex-direction: column;
    background-image: url(../img/cta-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid burlywood;
    margin: 40vh;
    padding: 8vh;
    align-items: flex-start;
    border-radius: 10px;
}

.downloads-text p {
    color: white;
}

.downloads-text h2 {
    color: burlywood;
    text-transform: uppercase;
}

.downloads-text a {
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
    backdrop-filter: blur(10px);
    border: 2px solid burlywood;
    padding: 2vh;
    text-transform: uppercase;
    border-radius: 10px;
}

/* footer */

footer {
    width: 100%;
    top: -4vh;
    box-sizing: border-box;
}

.end-text {
    display: flex;
    border-top: 1px solid burlywood;
    border-bottom: 1px solid burlywood;
    width: 80%;
    margin: 0 auto;
}

.end-copyright {
    flex: 1;
    width: 100%;
}

.end-copyright p {
    color: white;
}

.end-copyright h2 {
    color: burlywood;
    text-transform: uppercase;
}

.end-list {
    display: flex;
    width: 100vh;
    flex: 2;
    justify-content: space-around;
}

.end-list ul {
    list-style: none;
    padding-left: 0;
}

.end-list ul li {
    margin: 2vh;
}

.end-list ul li:first-of-type {
    color: burlywood;
    margin-bottom: 2vh;
    font-size: 24px;
    text-transform: uppercase;
}

.end-list ul li a {
    text-decoration: none;
    color: #deb887;
    font-family: "GothicA1";
}

.terms ul {
    list-style: none;
    display: flex;
    gap: 2vh;
    margin-left: 16vh;
}

.terms ul li {
    text-decoration: none;
    color: white;
    font-family: "GothicA1";
}

@keyframes slidy {
    0% { left: 0%; }
    100% { left: -100%; }
  }

@media screen and (max-width: 768px) {
    
    h2 {
        font-weight: bolder;
        font-size: 24px;
    }
    
    h3 {
        font-size: 20px
    }

    main {
        margin: 0 auto;
    }

    .presentation-video {
        width: inherit;
        height: 100%;
    }
    
    .presentation-video video {
        height: 100vh;
    }

    .logo {
        width: 120px;
    }
    
    .header-list {
        display: none;
    }
    
    nav {
        align-items: flex-start;
        justify-content: space-between;
        background-repeat: no-repeat;
    }

    .menu-deroulant {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 30px;
        margin: 2vh 2vh 0 0;
    }

    .menu-deroulant img {
        width: 100%;
        height: 100%;
    }

    /* races */

    .dev-cadre {
        flex-wrap: wrap;
        justify-content: baseline;
        margin: 0 2vh;
    }

    
    .dev-text {
        text-align: center;
        width: 100%;
    }
    
    .dev-image {
        width: 23%;
    }
    
    #races {
        padding-top: 10vh;
    }

    
    .race-presentation {
        flex-direction: column;
        overflow: hidden;
        margin: 6vh 2vh;
    }

    .race-logo-text {
        width: 100%;
        height: auto; 
        float: left;
        gap: 10vh;
        position: relative;
    }

    .race-logo-text img {
        width: 75px;
    }


    .race-list {
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 2vh;
        overflow-x: scroll;
    }

    /* editions */

    #editions {
        flex-direction: column-reverse;
    }

    .edition ul {
        flex-wrap: wrap;
        gap: 6vh;
        margin: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .edition {
        text-align: center;
    }

/* news */

    .titre-news {
        margin: 0 2vh;
    }

    .cards {
        flex-direction: column;
        gap: 2vh;
        margin: 0 2vh;
    }

    .card-item {
        width: inherit;
    }

/* community */

    .titre-community {
        padding: 0;
        margin-right: 2vh;
        margin-top: 8vh;
    }

    .fanart {
        width: 100%;
        margin: 0;
        flex-wrap: wrap;
    }


    .fanart img {
        width: 40%;
    }

/* downloads */

    .downloads-text {
        margin: 4vh;
        padding: 2vh;
        background-position: left;
        background-size: 100vh 100%;
    }

/* footer */

    .end-text {
        display: inherit;
        text-align: center;
    }

    .end-list ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

    .end-list {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    .terms {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .terms ul {
        gap: 2vh;
        margin: 4vh;
        padding: 0;
        flex-direction: column;
    }
}